body {
   
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    background-color: #555;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    
}

.container1 {

    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color :darkgray
    
}

ul {
    background:padding-box;
    color: rgba(2, 2, 24, 0.849);
    margin: 10px;
    list-style-type: circle;
    

  }
.container3 {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #392c030c;

}